
  
.slider {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    height: calc(140dvh - var(--top));
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(0, 0, 0, 0.7); */
    color: var(--white-light-color);
    padding: 20px;
    border-radius: 5px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    min-width: 35ch;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: var(--white-light-color);
    font-size: 23px;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 40px;
    background-color: #C29D59;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--white-light-color);
    letter-spacing: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    font-family: 'Titillium Web';
    transform: translate(-15px, -50%) rotate(-90deg);
}

.slider-arrow-next {
    margin-left: 67.4rem;
    position: absolute;
    top: 50%;
    width: 70px;
    height: 40px;
    background-color: #C29D59;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--white-light-color);
    letter-spacing: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    font-family: 'Titillium Web';
    transform: translate(-15px, -50%) rotate(-90deg);
}

.sign {
    --gap: 2rem;

    padding: var(--gap);
    border-radius: .5rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    width: max-content;
    max-width: 90%;
    width: 600px;
    margin: auto;

    text-align: center;
}
.sign1 {
    --gap: 2rem;
    width: max-content;
    max-width: 90%;
    width: 1000px;
    margin: auto;

    text-align: center;
}

.sign1 form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 2rem;
}
.sign form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 2rem;
}

.sign1 form>div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    &>* {
        flex: 1 1 10rem;
    }
}
.sign form>div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: center;
    text-align: left;

    &>* {
        flex: 1 1 10rem;
    }
}
.sign1 form .faicon {
    font-size: large;
    color: rgb(194, 157, 89);
    align-items: center;
    align-content: center;
}
.sign form .faicon {
    font-size: large;
    color: rgb(194, 157, 89);
    align-items: center;
    align-content: center;
}